/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#top-area {
  text-align: left;

  h2 {
    color: $link;
    font-size: 24px;
  }
}

.bottom_widget .footer-area .column {
  &:first-child {
    width: 100%;
    float: none;
  }
}

#content #top-area .column .region a.block-link {
  border: none;
  margin: 0;
  padding: 1rem;
}

.block-link {
  display: block;
  padding: 1rem;

  .media-image {
    margin-bottom: 0;
  }

  h2,
  .published-date {
    position: relative;
    padding-right: 4rem;
    text-decoration: none;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: .1rem;
      width: 3rem;
      height: 3rem;
      background-image: resolve('arrow_forward_link_blue.svg');
      background-position: center center;
      background-size: 2.4rem auto;
      background-repeat: no-repeat;
    }
  }

  &:hover,
  &:focus {
    background: #e4f0fa;
  }

  &:hover h2:after,
  &:hover.block-link .published-date:after,
  &focus .published-date:after,
  &:focus .block-link h2:after {
      background-color: $charcoal;
      background-image: resolve('arrow_forward_white.svg');
    }
  }


.card-deck {
  margin-bottom: 0;

  @include breakpoint($tab) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 4rem;
  }
}

article {
  @include breakpoint($tab) {
    grid-column: 2;

    &:first-child {
      grid-column: 1;
      grid-row: 1 / 3;

      a {
        display: block;
      }
    }
  }

  a {
    display: flex;
    text-decoration: none;
  }

  .card__image {
    flex: 0 0 13rem;
    max-width: 50%;

    @include breakpoint($phab) {
      flex-basis: 16.5rem;
    }
  }

  .card__body {
    padding-left: 1rem;

    .card__title {
      font-size: 1.8rem;
      line-height: 2.4rem;
      color: $link;
      margin: 0 0 1rem;

      @include breakpoint($lap) {
        font-size: 2rem;
        line-height: 2.7rem;
      }
    }

    .card__meta {
      margin: 1rem 0;
    }

    p {
      margin: 1rem 0 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &:first-of-type {
    a {
      flex-wrap: wrap;

      @include breakpoint($phab) {
        flex-wrap: nowrap;
      }
    }

    .card__image {
      flex-basis: 100%;
      max-width: 100%;
      padding-right: 0;

      @include breakpoint($phab) {
        flex-basis: 41%;
        min-width: 16.5rem;
      }
    }

    .card__body {
      align-self: auto;
      padding-left: 0;

      @include breakpoint($tab) {
        //padding-left: var(--rhythm-spacing-lg);
      }

      .card__title {
        font-size: 2.1rem;
        line-height: 3rem;

        @include breakpoint($lap) {
          font-size: 2.2rem;
          line-height: 3.3rem;
        }

        //@include breakpoint($desk-plus) {
        //  font-size: 2.4rem;
        //  line-height: 3.5rem;
        //}
      }
    }
  }

  &:last-of-type {
    box-shadow: none;
  }
}


#main-menu {
  .menu-link {
    &:hover,
    &:focus {
      border-bottom-color: $footer-background;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }

  .menu {
    .menu-item {
      .active,
      .active + .menu-main_sub .title a {
        border-bottom-color: $footer-background;
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }
  }
}

#main-menu .menu-link:hover, #main-menu .menu-link:focus {
  border-bottom-color: $footer-background;
}
