/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

.front {
  .front-banner {
    max-width: 1160px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 766px) {
  #headerHero {
    background-color: $brand-primary;
  }
}

#main-menu {
  .menu-link {
    color: $text;

    &:hover,
    &:focus {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 5px;
    }

  }

  .menu {
    .menu-item {
      .active {
        color: $text;
        background: transparent;
        border-bottom-color: transparent;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 5px;
      }

      &.open .menu-toggle-btn {
        color: $text;
      }
    }

    .menu-main_sub {
      background: #58595b;

      a,
      .menu-item span.active {
        color: $white;
      }
    }
  }
}

.footer-area .column:last-child {
  float: none;
  width: 100%;

  @include breakpoint($tab) {
    padding-left: 0;
  }
}

.sidebar-second-layout {
  .rel-menu--latest-news {
    margin-bottom: 2rem;

    ul {
      margin-bottom: 1rem;

      li {
        padding: 0 0 .6rem 1rem;
        list-style: none;
        margin: 0 0 .2rem;
        position: relative;

        &::before {
          content: "-";
          left: 0;
          position: absolute;
          top: 0;
        }

        .date-published {
          display: block;
          font-size: 1.4rem;
          line-height: 1.8rem;
        }
      }
    }
  }
}

#top-area {
  max-width: 100%;

  @include breakpoint($tab) {
    padding: 4rem 0;
  }

  .column {
    text-align: left;
    margin: 1rem;
    width: 100%;

    @include breakpoint($tab) {
      margin: 0;
    }

    .content {
      padding-top: 0;
    }

    a.btn {
      background: $charcoal;
      border-radius: 2.3rem;
      margin: 2%;

      &:hover,
      &:focus {
        background: $ash-grey;
      }

      &:focus {
        border-color: $black;
      }
    }

    h2 {
      font-weight: bold;
      color: $headings;
      @include adjust-font-size-to(24px);
      padding: 2%;
    }

    article.node--type-news {
      padding: 0 1.5rem 1.5rem 0;

      h3 {
        @include adjust-font-size-to(18px);
        margin: 0;
      }

      p.published-date {
        margin-bottom: 0;
      }

      .content {
        padding: .5rem 0;

        time {
          font-size: 1.6rem;
        }
      }
    }
  }
  #block-views-block-latest-news-home-latest-news {
    border: 1px solid $grey-medium;
  }
}

.home-news-items {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  padding: 2%;

  article {
    width: 100%;

    @include breakpoint($tab) {
      width: 47rem;
    }
  }
}

#block-emmacubittprofile {
  .content {
    width: 31rem;
  }
}
