/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

.top_left #logo img {
  height: 10rem;
  @media screen and (max-width: $tab) {
    position: relative;
  }
}

#block-frontpagebanner {
  background: resolve('AW-header.png') no-repeat 50%;
  height: 30rem;
  background-size: contain;
  @media screen and (max-width: $tab) {
    display: none;
  }
}

#main-menu {
  background: $white;

  .menu-link,
  .menu .active,
  .menu-item.open .menu-toggle-btn {
    color: $black;
    @include adjust-font-size-to(16px);
  }

  .menu
  .menu-item
  .active {
    border-bottom-color: rgba(191,191,191,0.10);
    text-decoration: underline;
  }

  .menu-link {
    &:hover,
    &:focus {
      background: $brand-primary;
      color: $white;
    }
  }
  .menu-main_sub
  .menu-item
  span.active {
    @include adjust-font-size-to(14px);
    padding: 1rem;
  }

  .menu-main_sub {
    background: $brand-primary;

    .menu-item {
      background: $brand-primary;

      .active {
        background: $brand-primary;
        color: $white;
      }

      a {
        &:hover,
        &:focus {
          color: $white;
          background: $brand-secondary;
        }
      }
    }
  }
}

.region-front-welcome {
  text-align: left;
  background: #e7e7e7;

  p {
    width: 70%;
    padding: 0 0 3rem 1rem;
    @media screen and (max-width: $tab) {
      width: 100%;
    }
  }

  .block h2 {
    text-align: left;
    color: $brand-primary;
  }
}

.latest-news-home-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  text-align: left;
}

#top-area .latest-news-home-wrapper h2,
#top-area .latest-news-home-wrapper h3 {
  font-size: 2.4rem;
}

#top-area h2 {
  color: $brand-primary;
}

@media (max-width: 600px) {
  .latest-news-home-wrapper {
    grid-template-columns: 1fr;
  }
}

#top-area .column {
  width: 100%;
}

.btn.view-all-link {
  border-radius: 3rem;
  margin-top: 3rem;
}

#block-referrals {
  text-align: left;

  h2 {
    margin-top: 5rem;
    padding-top: 5rem;
    border-top: solid $black 3px;
  }

  a.btn {
    background: #0a850c;
  }
}

