#############################################################################
###                           --== IMPORTANT ==--                         ###
#############################################################################
# If you require changes to this file you must edit the file within the     #
# original repository.Any changes here will be overwritten when the project #
# is built.                                                                 #
#############################################################################
db:
    type: 'mariadb:10.4'
    disk: 4000
    configuration:
        schemas:
            - legalcommissionernidb
            - nicswelldb
            - autismreviewernidb
            - anotherwaydb
            - pronidb
            - oicedb
            - coimisineirdb
        endpoints:
            legalcommissionerni:
                default_schema: legalcommissionernidb
                privileges:
                    legalcommissionernidb: admin
            nicswell:
                default_schema: nicswelldb
                privileges:
                    nicswelldb: admin
            autismreviewerni:
                default_schema: autismreviewernidb
                privileges:
                    autismreviewernidb: admin
            anotherway:
                default_schema: anotherwaydb
                privileges:
                    anotherwaydb: admin
            proni:
                default_schema: pronidb
                privileges:
                    pronidb: admin
            oice:
                default_schema: oicedb
                privileges:
                    oicedb: admin
            coimisineir:
                default_schema: coimisineirdb
                privileges:
                    coimisineirdb: admin
solr_8_11:
    type: 'solr:8.11'
    disk: 1024
    configuration:
        cores:
            legalcommissionerni_index:
                conf_dir: !archive solr_config/
            nicswell_index:
                conf_dir: !archive solr_config/
            autismreviewerni_index:
                conf_dir: !archive solr_config/
            anotherway_index:
                conf_dir: !archive solr_config/
            proni_index:
                conf_dir: !archive solr_config/
            oice_index:
                conf_dir: !archive solr_config/
            coimisineir_index:
                conf_dir: !archive solr_config/
        endpoints:
            legalcommissionerni:
                core: legalcommissionerni_index
            nicswell:
                core: nicswell_index
            autismreviewerni:
                core: autismreviewerni_index
            anotherway:
                core: anotherway_index
            proni:
                core: proni_index
            oice:
                core: oice_index
            coimisineir:
                core: coimisineir_index
redis:
    type: 'redis:6.0'
