/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#header_wrapper {
  border-bottom: 1px solid $brand-primary;
  padding-bottom: 2rem;
}

#headerHero {
  @media screen and (max-width: $tab) {
    background-color: #fff;

    .region-search {
      input[type='text'],
      input[type='search'] {
        border: 1px solid #000;
        background: #fff;

      }
    }
  }
}

.hamburger {
  & > span {
    background: #000 !important;
  }
}

#main-menu .menu-link,
#main-menu .menu {
  background-color: #fff;
  color: $brand-primary;
}

#main-menu {
  .menu-link,
  .menu .active,
  .menu-item.open .menu-toggle-btn {
    color: $brand-primary;
    @include adjust-font-size-to(16px);
  }

  .menu-link {
    &:hover,
    &:focus {
      color: $white;
    }
  }

  .menu .menu-item .active {
    border-bottom: none;
    height: 4.5rem;
  }

  .menu-main_sub {
    background: $brand-primary;

    .menu-link {
      background: $brand-primary;
    }

    .menu-item {
      .active {
        color: $white;
        border-color: $white;
      }

      a {
        &:hover,
        &:focus {
          background: $charcoal;
        }
      }
    }
  }
}

.region-front-welcome {
  border-bottom: 1px solid $brand-primary;

  .block {
    width: 65%;

    h2,
    .content {
      text-align: left;
      padding: 0;
    }
  }

  @media (max-width: 767px) {
    .block {
      width: 100%;
      max-width: 100%;
    }
  }
}

#top-area {
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 5rem;

  .column {
    flex-basis: 24rem;
  }
}

.feature-card {
  display: flex;
  flex-flow: column;

  .media-image {
    margin-top: 0;
  }

  h3.feature-card__title {
    position: relative;
    padding: 0 1rem;
    @include adjust-font-size-to(18px);
    margin-top: 0;
    color: $link;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}

#content #top-area a.feature-card {
  padding: 0;
  margin: 0;
  border: none;

  &:focus {
    background: transparent;
    outline: 2px solid $black;
  }

  &:hover,
  &:focus {
    h3.feature-card__title {
      text-decoration-color: $black;
      text-decoration-thickness: 2px;
    }
  }
}
